*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgba(59, 116, 255, 1.0);
background: -webkit-radial-gradient(center, rgba(59, 116, 255, 1.0), rgba(7, 59, 139, 1.0));
background: -moz-radial-gradient(center, rgba(59, 116, 255, 1.0), rgba(7, 59, 139, 1.0));
background: radial-gradient(ellipse at center, rgba(59, 116, 255, 1.0), rgba(7, 59, 139, 1.0));
}

input{
  padding: 15px;
  margin: 10px 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 14px;
}

nav a{
  font-size: 13px;
  display: inline-block;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0,0,0,0.87);
  cursor: pointer;
  padding: 5px 6.7px;
}

nav a:hover{
  text-decoration: underline;
  opacity: .85;
}

nav button{
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background:#4285f4;
  color: #fff;
  padding: 7px 12px;
  border-radius: 3px;
  margin-left: 7px;
  cursor: pointer;
}

.address{

  padding-left: 5%;
  margin-top: 10px;
  font-size: large;
  color: #fff;
}

.field{

}

/* semantic UI */

.container{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
  
}

.container > form{
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;

}

pre{
  width: 70%;
  color: #fff;
  font-size: larger;
}

button{
  background-color: #0563b4;
}

p{
  color: red;
}
